:root {
  --mono-09: hsl(0, 0%, 9%);
  --mono-17: hsl(0, 0%, 17%);
  --mono-33: hsl(0, 0%, 33%);
  --mono-54: hsl(0, 0%, 54%);
  --mono-100: hsl(0, 0%, 100%);

  --font-mono: 'Roboto Mono', monospace;
  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
