.button {
  font-family: var(--font-mono);
  font-size: 16px;
  font-weight: bold;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: var(--color-base);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  background: var(--color-primary);
  &:hover {
    color: var(--color-primary);
    background: var(--color-base);
  }
  &--outline {
    color: var(--color-primary);
    border-color: var(--color-primary);
    background-color: var(--color-base);
    &:hover {
      color: var(--color-base);
      background-color: var(--color-primary);
    }
  }
  &__icon {
    margin-right: 15px;
  }
}
