.list {
  display: grid;
  &__item {
    font-family: var(--font-mono);
    font-size: 18px;
    display: grid;
    color: var(--mono-100);
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    grid-column-gap: 30px;
  }
}
