.CharacterList {
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    svg {
      color: white;
      margin-left: 20px;
    }

    h1 {
      margin-left: 10px;
    }
  }

  .body {
    width: 90vw;
    align-self: center;
  }

  section {
    border-bottom: 1px solid white;
    margin-bottom: 10px;

    .character-description {
      padding-bottom: 10px;
    }
  }

  footer {
    justify-self: flex-end;

    button {
      background-color: white;
      height: 40px;
      width: 80vw;
      border-radius: 10px;
    }
  }
}
