.CreateCharacter {
  header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    svg {
      color: white;
      margin-left: 20px;
    }

    h1 {
      margin-left: 10px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 50%;
      height: 20px;
      margin: 20px 0;
      text-align: center;
    }
  }

  button {
    justify-self: flex-end;
    margin-top: 340px;
    // lol i don't remember how to get justify self to work so margin top is me cheating to see the button at the bottom
    background-color: white;
    height: 40px;
    width: 80vw;
    border-radius: 10px;
  }
}
