.Home {
  height: 100vh;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  p {
    color: white;
    margin-left: 20px;
  }
  svg {
    color: white;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --base-size: calc(10px + 2vmin);
  font-size: var(--base-size);
  letter-spacing: calc(var(--base-size) * (2 / 3));
  text-transform: uppercase;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
